{% extends "base.html" %}
{% block css_custom %}
{% endblock css_custom %}

{% block content %}
    {% from "_pagination.html" import render_pagination %}
    <div class="row">
        <div class="large-12 columns">
            <h4>Ponentes</h4>
            <hr/>
            <div class="content">
                {% for speaker in speakers.items %}
                    <div class="speakers">
                        <div class="speakers--avatar large-2 columns">
                            {{ speaker.fas | avatar | safe }} 
                        </div>
                        <div class="speakers--description large-10 columns">
                            <h5 class="speakers--title">{{ speaker.names }}<h5>
                                    {{ speaker.bio | safe }}
                                   
                                    {% if speaker.active == 1 %}
                                        <span class="">Confirmado</span>
                                    {% else %}
                                        <span class="">No confirmado</span>
                                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {{ render_pagination(speakers, 'frontend.speakers') }}
            </div>
        </div>
    </div>
        
{% endblock content %}
