{% extends "base.html" %}
{% block css_custom %}

{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="content">
            <h4>Pre-selección de charlas</h4>
            {% if has_voted > 0 %}
                <div class=panel>Ud. ya ha votado por las charlas, su información
                    será utilizada para llevar una estadistica de las charlas
                    a presentar
                </div>
            {% else %}
            <form method="POST" action="">
                <table>
                    <th>Charla</th>
                    <th colspan="2">¿Desea asistir?</th>
            {% for vote in votes %}
                <tr>
                    <td>{{ vote.name }}</td>
                    <td><input type="hidden" name="session_id_{{ vote.id}}" value="{{ vote.id }}"></td>
                    <td><input type="checkbox" name="vote_{{ vote.id }}" value='1'></td>
               </tr>    
            {% endfor %}
        </table>
        <input type="submit" value="Votar!"/>
    </form>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}
