{% extends "base.html" %}
{% block css_custom %}

{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="content">
            <h4>{{ title }}</h4>
            {% if opened != True %}
                <div class="panel">
                    Aún no se han abierto estas votaciones
                    al público
                </div>
                {% else %}
       
            {% if has_voted > 0  and opened == True%}
                <div class="panel">
                    Ud. ya ha elegido la mesa de trabajo a la cual desea asistir
                    ó ya eligio un taller
            </div>
            {% else %}
            <form method="post" action="">
                <fieldset>
                    <legend></legend>
                   {{ render_field(form.session_id) }}
                </fieldset>
                <input type="submit" value="Elegir">
            </form>
        {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
