{% extends "base.html" %}
{% block css_custom %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h4>Administración Fudcon</h4>
            <div class="panel callout">
                <p>Desde el panel de administración podras</p>
                <ul>
                    <li>Agregar ponentes</li>
                    <li>Agregar páginas</li>
                    <li>Agregar sesiones</li>
                    <li>Gestionar el barcamp del evento <strong>(En progreso)</strong></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
