<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> 77663cd53e943f339753ba65ed659962c2d7e974
.sessions {
	margin-bottom: 10px;
	overflow: hidden;
	.sessions--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}

<<<<<<< HEAD
.workshops {
	margin-bottom: 10px;
	overflow: hidden;
	.workshops--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}

.worktables {
	margin-bottom: 10px;
	overflow: hidden;
	.worktables--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}


>>>>>>> Stashed changes
=======
>>>>>>> 77663cd53e943f339753ba65ed659962c2d7e974
