<<<<<<< Updated upstream
=======
.sessions {
	margin-bottom: 10px;
	overflow: hidden;
	.sessions--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}

.workshops {
	margin-bottom: 10px;
	overflow: hidden;
	.workshops--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}

.worktables {
	margin-bottom: 10px;
	overflow: hidden;
	.worktables--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}


>>>>>>> Stashed changes
