.speakers {
	margin-bottom: 10px;
	overflow: hidden;
	.speakers--title {
		font-family:"Cantarell", sans-serif;
		font-size:15px;
		font-weight:bold;
	}
}

.confirm {
	color: #008cba;
	font-style: italic;
}